.taskContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #e5e7eb; /* light gray */
    border-radius: 0.5rem;
}

.checkboxContainer {
    display: inline-flex;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;
}

.hiddenCheckbox {
    display: none;
}

.customCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    width: 1.25rem;
    border: 2px solid #eab308;
    border-radius: 0.25rem;
}

.customCheckbox.checked {
    background-color: #eab308;
    color: white;
}

.customCheckbox.unchecked {
    background-color: transparent;
    color: transparent;
}

.taskText {
    flex: 1;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 280px;
}

.taskText.done {
    text-decoration: line-through;
    color: gray;
}

.editButton {
    background-color: #3b82f6;
}

.editButton:active {
    background-color: #1d4ed8;
}

.deleteButton {
    background-color: #ef4444;
}

.deleteButton:active {
    background-color: #b91c1c;
}

.saveButton {
    background-color: #22c55e;
}

.saveButton:active {
    background-color: #15803d;
}

.editInput {
    border: 1px solid lightgray;
    padding: 0.25rem;
    flex-grow: 1;
}
