/* Container for component */
.taskContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #e5e7eb; /* light gray */
    border-radius: 0.5rem;
}

/* Checkbox */
.checkboxContainer {
    display: inline-flex;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;
}

.hiddenCheckbox {
    display: none; /* hide default checkbox */
}

.customCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    width: 1.25rem;
    border: 2px solid #eab308; /* golden yellow */
    border-radius: 0.25rem;
}

.customCheckbox.checked {
    background-color: #eab308; /* golden yellow */
    color: white;
}

.customCheckbox.unchecked {
    background-color: transparent;
    color: transparent;
}

/* Task text */
.taskText {
    flex: 1;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 280px;
}

.taskText.done {
    text-decoration: line-through;
    color: gray;
}

/* Edit button */
.editButton {
    background-color: #3b82f6; /* blue */
}

.editButton:active {
    background-color: #1d4ed8; /* darker blue */
}

/* Delete button */
.deleteButton {
    background-color: #ef4444; /* red */
}

.deleteButton:active {
    background-color: #b91c1c; /* darker red */
}

/* Save button */
.saveButton {
    background-color: #22c55e; /* green */
}

.saveButton:active {
    background-color: #15803d; /* darker green */
}

/* Edit input text box */
.editInput {
    border: 1px solid lightgray;
    padding: 0.25rem;
    flex-grow: 1;
}
